@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url(styles/NavBar.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jacques Francois", serif;
}


body {
    /*utiliza a tela inteira*/
    height: 100vh;
    background-image: url(img/d8515f6560eb8a1c3da1ab7d721c43c039af0ee9.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
}

.caixa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 ;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #591902;
    box-sizing: border-box;
    border-radius: 0 10px 10px 10px;
}

.caixa h2 {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
}

.caixa .caixa-input {
    position: relative;
}

.caixa .caixa-input input {
    width: 100%;
    padding: 10px 120px;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border-radius: 16px;
    border-bottom: 1px solid #fff;
    outline: none;
    background: #D9D9D9;
}

.caixa .caixa-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: 0.5s;
}

.caixa .caixa-input input:focus~label,
.caixa .caixa-input input:valid~label {
    /*o email não está aparecendo por completo*/
    top: -25px;
    left: 0;
    color: #A66E4E;
    font-size: 12px;
}

.caixa button {
    margin: 25px 0 10px;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 16px;
    background: #BFA98E;
}

.nao__tem {
    text-align: right;
    letter-spacing: normal;
    text-transform: none;
    letter-spacing: none;
}

.nao__tem a {
    color: #fff;
    text-decoration: none;
}

.caixa form {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #A66E4E;
    font-size: 16px;
    text-decoration: none;
    /*opcional*/
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}