footer {
    max-height: 116px;
    background-color: #260B01;
    padding: 40px 8% 40px 8%;
    color: #fff;
}

#footer_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-buttons{
    display: flex;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30px;
    height: 20px;
    margin: 10%;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    
}

.footer_infos{
    text-align: center;
}
